<ng-container *ngIf = "weatherData">
<h1>{{city}}, {{country}}</h1>
  <p class="date">{{date}}</p>
  <div class="current-weather" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <p class="temperature">{{deg}}&deg;</p>
    <div class="description">
      <span class="weather-icon"></span>
      <p class="weather-description">{{description}}</p>
      <p><span class="static-element">Wind:</span> {{wind}} <span class="static-element">km/h</span></p>
      <p><span class="static-element">Feels like:</span> {{feels}}&deg;<span class="feels-deg"></span></p>
      <p><span class="static-element">Humidity: </span>{{humidity}} %</p>
    </div>
  </div>
  <div class="forecast-day" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <app-forecast-day *ngFor="let item of dayForecast" [dayForecast]="item"></app-forecast-day>
  </div>
</ng-container>
