<div class="controls" fxLayout="row wrap" fxLayoutAlign="flex-start center">
  <button class="reload"></button>
  <select name="language" id="lang">
    <option selected value="En">En</option>
    <option value="Ru">Ru</option>
    <option value="Be">Be</option>
  </select>
  <div>
    <button class="cel">&deg; C</button>
    <button class="far">&deg; F</button>
  </div>
</div>
  <form class="search-form" fxLayout="row" fxLayoutAlign="flex-end stretch">
    <input type="text" class="search-input" name="sity" placeholder="Search city" [(ngModel)]="searchText">
    <button class="search" (click)="onSearch()">Search</button>
  </form>
